[name="myForm"] * {
  margin: 0 auto;
}

[type="submit"] {
  margin: 20px auto;
}

.values-table {
  margin: 20px auto;
  background-color: #eac9c0;
  border: 2px solid darkseagreen;
  width: 300px;
  color: #063542;
  font-size: 30px;
}

.values-table tr {
  border: 2px solid slategrey;
}

.values-table td {
  border: 2px solid #072850;
}
